/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}





/****************/
/* JOUW STYLING */
/****************/
body {
	background-color: var(--background-color-home);
}

main * {
	text-transform: uppercase;
	font-weight: 400;
	min-width: 0;
}

section:not(:first-of-type) * {
	background-color: var(--color-background-elements);
}

/* code overgenomen van Dave Rupert (2013) [https://www.a11yproject.com/posts/how-to-hide-content/]*/
h1:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	/* height: 0.1rem;
	width: 0.1rem; */
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}


/* eerste section */
main section:first-of-type {
	text-align: center;
}

section:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:first-of-type h2 {
	padding: 1em 0;
}

section:first-of-type a {
	display: flex;
	align-items: center;
}

section:first-of-type a img {
	height: 0.8em;
	margin: 0.2em;
}

section:first-of-type > img {
	height: 1.4em;
	width: 7.5em;
}


/* grid kaarten */
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 1.4fr 1fr 1.4fr repeat(6, 1fr); */
	/* grid-auto-rows: minmax(3em, auto); */
	grid-auto-rows: auto;
	gap: 1em;
	margin: 0.8em;
}

h1 { grid-area: 1 / 1 / 2 / 3; }
section:nth-of-type(1) { grid-area: 2 / 1 / 3 / 3; }
section:nth-of-type(2) { grid-area: 3 / 1 / 4 / 2; }
section:nth-of-type(3) { grid-area: 3 / 2 / 4 / 3; }
section:nth-of-type(4) { grid-area: 4 / 1 / 5 / 3; }
section:nth-of-type(5) { grid-area: 5 / 1 / 7 / 2; }
section:nth-of-type(6) { grid-area: 5 / 2 / 6 / 3; }
main button { grid-area: 6 / 2 / 7 / 3; }





/* scherm onder 350px - alles onder elkaar */
@media (max-width: 350px) {
	main > section, h1, main button {
		grid-area: unset !important;
	}
	
	main {
	  	grid-template-columns: 1fr;
	}
}


/* kaarten layout en opmaak */
section:not(:first-of-type) a {
	display: grid;
	grid-template-columns: 4fr 1fr;

	border: 0.08em solid var(--border-color);
	box-shadow: 0.15em 0.15em;
}

section:not(:first-of-type) a img:nth-of-type(2) {
	grid-column: 1 / -1;
	order: -1;
	max-width: 100%;
}

section:not(:first-of-type) a h2 {
	align-self: center;
	margin: 0.5em;
	font-size: small;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
  
section:not(:first-of-type) a img:first-of-type {
	justify-self: end;
	margin: 0.5em;
	width: 1em;
}



/* show more button functie */
main > button {
	color: var(--button-text-color-show-more);
	background-color: var(--button-color-show-more);

	height: 3.5em;
	width: 9em;
	border-radius: 3em;

	justify-self: center;
}

section:nth-of-type(n+7):nth-of-type(-n+11) {
	display: none;
}

.showMore section:nth-of-type(n+7):nth-of-type(-n+11) {
    display: grid;
}

/* grid na show more */
/* h1 { grid-area: 1 / 1 / 2 / 3; }
section:nth-of-type(1) { grid-area: 2 / 1 / 3 / 3; }
section:nth-of-type(2) { grid-area: 3 / 1 / 4 / 2; }
section:nth-of-type(3) { grid-area: 3 / 2 / 4 / 3; }
section:nth-of-type(4) { grid-area: 4 / 1 / 5 / 3; }
section:nth-of-type(5) { grid-area: 5 / 1 / 7 / 2; }
section:nth-of-type(6) { grid-area: 5 / 2 / 6 / 3; } */
.showMore section:nth-of-type(7) { grid-area: 7 / 1 / 8 / 2; }
.showMore section:nth-of-type(8) { grid-area: 6 / 2 / 8 / 3; }
.showMore section:nth-of-type(9) { grid-area: 8 / 1 / 9 / 3; }
.showMore section:nth-of-type(10) { grid-area: 9 / 1 / 11 / 2; }
.showMore section:nth-of-type(11) { grid-area: 9 / 2 / 10 / 3; }

