/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--background-color-home: #fffef6;
	--button-color: #000; 
	--button-text-color: #FFF;
}




/****************/
/* JOUW STYLING */
/****************/
body {
	background-color: var(--background-color-home);
}

main * {
	text-transform: uppercase;
	font-weight: 400;
}

section:not(:first-of-type) * {
	background-color: var(--color-background-elements);
}


/* eerste section */
section:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:first-of-type h2 {
	padding: 1em 0;
}

section:first-of-type a {
	display: flex;
	align-items: center;
}

section:first-of-type a img {
	height: 0.8em;
	margin: 0.2em;
}

section:first-of-type > img {
	height: 1.4em;
	width: 7.5em;
}


/* grid kaarten */
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.4fr 1fr 1.4fr repeat(6, 1fr);
	gap: 1em;
	margin: 0.8em;
}

section:nth-of-type(1) { grid-area: 1 / 1 / 2 / 3; }
section:nth-of-type(2) { grid-area: 2 / 1 / 3 / 2; }
section:nth-of-type(3) { grid-area: 2 / 2 / 3 / 3; }
section:nth-of-type(4) { grid-area: 3 / 1 / 4 / 3; }
section:nth-of-type(5) { grid-area: 4 / 1 / 6 / 2; }
section:nth-of-type(6) { grid-area: 4 / 2 / 5 / 3; }
section:nth-of-type(7) { grid-area: 6 / 1 / 7 / 2; }
section:nth-of-type(8) { grid-area: 5 / 2 / 7 / 3; }
section:nth-of-type(9) { grid-area: 7 / 1 / 8 / 3; }
section:nth-of-type(10) { grid-area: 8 / 1 / 10 / 2; }
section:nth-of-type(11) { grid-area: 8 / 2 / 9 / 3; }


h1, main section:nth-of-type(1) {
	text-align: center;
}


/* kaarten layout en opmaak */
section:not(:first-of-type) a {
	height: 100%;

	display: grid;
	grid-template-columns: 4fr 1fr;

	border: 0.08em solid var(--border-color);
	box-shadow: 0.15em 0.15em;
}

section:not(:first-of-type) a img:nth-of-type(2) {
	grid-column: 1 / -1;
	order: -1;
	width: 100%;
}

section:not(:first-of-type) a h2 {
	align-self: center;
	margin: 0.5em;
	font-size: small;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
  
section:not(:first-of-type) a img:first-of-type {
	justify-self: end;
	margin: 0.5em;
	width: 1em;
}

main > button {
	color: var(--button-text-color);
	background-color: var(--button-color);
	padding: 1em;
	border-radius: 2em;
}