/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-heading:#E53E39;
	--color-text-dt:#E53E39;
	--color-background:#eee;
	--border-color-recept:#E53E39;
}





/****************/
/* JOUW STYLING */
/****************/

section > * {
	margin: 1em;
}

main img {
	padding: 1em;
}

section:nth-of-type(2) h2:nth-of-type(2) ~ ul {
	list-style-type: square;
	margin: 2em;
}
