/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}





/****************/
/* JOUW STYLING */
/****************/
body {
	background-color: var(--color-background-recept);
}

section {
	margin: 0.5em;
	border: 0.15em solid var(--border-color-recept);
	/* padding: 1em	 */
}

main > img {
	padding: 0.5em;
	width: 100%;
}

h1, h2, h3, h4, th {
	font-weight: normal;
}

section:not(:first-of-type) {
	padding: 1em;
}



/* opmaak section 1 */
section:first-of-type {
	text-transform: uppercase;
}

tbody {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

tr:first-of-type, tr:nth-of-type(2) {
	grid-column: span 2;
}

table {
	border-collapse: collapse;
	width: 100%;
}

/* code overgenomen van Dave Rupert (2013) [https://www.a11yproject.com/posts/how-to-hide-content/]*/
caption:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	/* height: 0.1rem;
	width: 0.1rem; */
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

h1, section:first-of-type h2, tr {
	padding: 1rem;
}

h1 {
	margin-bottom: 3rem;
	border-top: 0.15rem solid var(--border-color-recept);
}

tr {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	border-top: 0.15rem solid var(--border-color-recept);
}

tr:last-of-type {
	border-left: 0.15rem solid var(--border-color-recept);;
}

th {
	padding-right: 0.8em;
}

section:first-of-type h2 {
	font-size: initial;
}

section:first-of-type span {
	color: var(--color-text-details);
	padding-right: 0.8em;
}

section:first-of-type ul li {
	display: inline;
}

td ul li:not(:last-of-type)::after {
	content: ", ";
}

th {
	color: var(--color-text-details);
}






/* opmaak section 2 */
section:nth-of-type(2) h2 {
	text-transform: uppercase;
	font-size: initial;
	color: var(--color-text-details);	
}

section:nth-of-type(2) button {
	font-family: "Magda";
	text-transform: uppercase;
	font-size: smaller;
	background-color: var(--color-background-recept);
	padding: 0.4em 0.9em;
	border: 0.12em solid var(--border-color-2-recept);
}

section:nth-of-type(2) h2:nth-of-type(2) ~ ul {
	list-style-type: square;
	margin: 1em;
}

section:nth-of-type(2) ul:first-of-type {
	display: flex;
	align-items: center;
	margin: 1em 0;
}

section:nth-of-type(2) span {
	font-weight: bold;
}







/* opmaak section 3 */
section:last-of-type {
	text-transform: uppercase;
}