/*********/
/* FONTS */
/*********/
/* later ongebruikte fonts verwijderen */
@font-face {
	font-family: "Magda";
	src: url(../Fonts/FFMagdaClean.woff);
}

@font-face {
	font-family: "Girdo";
	src: url(../Fonts/GirdoBlackPro-Regular.a40bd0fc.woff);
}

@font-face {
	font-family: "Bjorn";
	src: url(../Fonts/BjornSerifPro-Regular.5128ee31.woff);
}

@font-face {
	font-family: "Margo";
	src: url(../Fonts/MargoPro-Regular.adcdb6c7.woff);
}

@font-face {
	font-family: "Margo Bold";
	src: url(../Fonts/MargoPro-Bold.d0eee858\ \(1\).woff);
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background-elements:#FFF;
	--color-background-home-menu:#EAF3F6; 
	--border-color:#111;
}






/****************/
/* JOUW STYLING */
/****************/
* {
	font-family: "Margo";
	text-decoration: none;
	color: var(--color-text);
	margin: 0;
}

header, footer * {
	text-transform: uppercase;
	font-weight: 400;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	border-radius: 0%;
	border: 0;
	padding: 0;	
	font-size: initial;
}



/* header balk opmaak */
header > ul {
	display: flex;
	align-items: center;
	background-color: var(--color-background-elements);
	border-bottom: 0.08em solid var(--border-color);
}

header > ul li:first-of-type {
	margin-right: auto;
	border-right: 0.08em solid var(--border-color);
}

header > ul li:not(:first-of-type) {
	border-left: 0.08em solid var(--border-color);
}

header > ul li {
	height: 2.5em;
}

header button {
	height: 2.5em;
}

header img {
	font-size: initial;
	height: 2.5em;
}


/* menu opmaak */
header nav {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background-elements);
}

header nav ul {
	padding-left: 6em;
	padding-bottom: 1em;
	list-style-image: url('../images/List_image.png');
}

header nav > a {
	padding: 1.2em 3em;
	border-top: 0.1em solid #000;
}

header nav > a:not(:first-child) {
	padding-top: 2.5em;
}

header nav li {
	padding: 0.7em 0;
}

header nav > a:first-of-type {
	background-color: var(--color-background-home-menu);
}



/* hamburger menu */
header li:first-of-type button {
	position: relative;
	z-index: 100;
}

header:has(nav.toonMenu) li:first-of-type button img {
	content:url(../images/Button_kruisje.png)
}

header {
	position: sticky;
	top: 0;
}

header nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	translate: 100% 0%;

	padding-top: 2.5em;
	overflow-y: auto;
}

header nav.toonMenu {
	translate: 0% 0%;
}




/* footer opmaak */
footer {
	margin-top: 2em;
}

footer * {
	background-color: var(--color-background-elements);
}

footer nav:first-of-type img {
	width: 3.15em;
}

footer nav:first-of-type li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5em;
}

footer nav:first-of-type li:not(:first-of-type, :nth-of-type(2)) {
	border-top: 0.08em solid var(--border-color);
}

footer nav:first-of-type {
	border-top: 0.08em solid var(--border-color);
}

footer nav:first-of-type li:nth-of-type(2n + 5) {
	border-left: 0.08em solid var(--border-color);
}

footer nav:first-of-type li:nth-of-type(1) {
	width: 3.5em;
	padding: 0;
	border-right: 0.08em solid var(--border-color);
}

footer nav:first-of-type li:nth-of-type(2) {
	width: fit-content;
}

footer nav:first-of-type ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

footer nav:first-of-type li:nth-of-type(3) {
	grid-column: 1/-1;
}


/* social media nav */
footer nav:last-of-type ul {
	display: flex;
	justify-content: center;
	height: 3.125em;
}

footer nav:last-of-type img {
	width: 3.125em;
	border-left: 0.08em solid var(--border-color);
}

footer nav:last-of-type li:last-of-type img {
	border-right: 0.08em solid var(--border-color);
}

footer nav:last-of-type {
	border-top: 0.08em solid var(--border-color);
}