/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-heading:#E53E39;
	--color-text-details:#E53E39;
	--color-background-recept:#FFF;
	--border-color-recept:#E53E39;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	background-color: var(--color-background-recept);
}

section {
	margin: 0.5em;
	border: 0.15em solid var(--border-color-recept);
	padding: 1em	
}

main > img {
	padding: 0.5em;
	width: 100%;
}

/* opmaak section 1 */
section:first-of-type {
	text-transform: uppercase;
}

section:first-of-type > ul li {
	display: inline;
	margin-right: 1em;
}




/* opmaak section 2 */
section:nth-of-type(2) h2 {
	text-transform: uppercase;
	color: var(--color-text-details);	
}

section:nth-of-type(2) button {
	font-family: "Magda";
	text-transform: uppercase;
}

section:nth-of-type(2) h2:nth-of-type(2) ~ ul {
	list-style-type: square;
	margin: 2em;
}




/* opmaak section 3 */
section:last-of-type {
	text-transform: uppercase;
}