/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/****************/
/* JOUW STYLING */
/****************/
* {
	text-transform: uppercase;
	font-weight: 400;
}



main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	margin: 2em;
}

main h1, button, section:nth-of-type(1), section:nth-of-type(4), section:nth-of-type(9) {
	grid-column: 1/-1;
}

h1, main section:nth-of-type(1) {
	text-align: center;
}
